@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional but recommended: 
  This ensures your app's root can be full height.
*/
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}